{% extends 'base.html.twig' %}
{% block title %}Password change{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Change password</h1>
        <div class="container col-sm-4">
    {{ form_start(changepasswordForm) }}

        {{ form_row(changepasswordForm.currentpw) }}
        
        <div>
        {{ form_row(changepasswordForm.newpw.first) }}
        </div>
        {{ form_row(changepasswordForm.newpw.second) }}
        <p>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Change Password</button> 
        </div>
    {{ form_end(changepasswordForm) }}
    {{displaymsg}}

    </div>
{% endblock %}