{% extends 'base.html.twig' %}

{% block title %} {{ pageTitle }} {% endblock %}

{% block stylesheets %}

    {# {{ encore_entry_link_tags('user_settings') }} #}

{% endblock %}

{% block body %}

    <div class="container col-xs-12 col-md-10 mt-5 bg-white">
        <div class="row">
            <div class="col">
                
                <a href="{{ path('category_create') }}"><button type="button" class="btn btn-success"><i class="fas fa-plus mr-2"></i> Nauja kategorija</button><a>
            
                {% for category in categoriesArray %}

                    {{ category.name }} <br>

                {% endfor %}

            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}

    {# {{ encore_entry_script_tags('account_settings') }} #}

{% endblock %}
