{% extends 'base.html.twig' %}

{% block title %} {{ pageTitle }} {% endblock %}

{% block stylesheets %}

<style>
    .row
    {
        background-color: #f9f9f9;
    }
</style>

{% endblock %}

{% block body %}

<div class="container col-lg-6 mt-3">
    <div class="row border rounded-lg shadow-sm">
        <div class="col ">
            <h1 class="mt-2">Pamiršote slaptažodį?</h1>
            <p class="lead">Jeigu pamiršote slaptažodį, įveskite savo elektroninį paštą ir mes jums atsiųsime nuorodą atstatyti naujam slaptažodžiui</p>

            {% for message in app.flashes('success') %}

                <div class = "alert alert-success">
                    {{ message }}
                </div>

            {% endfor %}

            {% for message in app.flashes('danger') %}

                <div class = "alert alert-danger">
                    {{ message }}
                </div>

            {% endfor %}

            {{ form_start(email_form) }}
            
                {{ form_errors(email_form.email) }}
                <div class="input-group col-lg-7 mb-3 ml-n3">
                    {{ form_widget(email_form.email) }}
                    
                    <div class="input-group-append">
                        {{ form_widget(email_form.submit) }}
                    </div>
                </div>

            {{ form_end(email_form) }}

        </div>
    </div>
</div>

{% endblock %}
