{% extends 'base.html.twig' %}

{% block title %}Vartotojų šalinimas{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style='text-align:center;padding-bottom: 5%'>Vartotojų šalinimas</h1>
</div>

{# total items count #}
<div class="count" align="center">
   <h5><small>Vartotojų kiekis: {{ pagination.getTotalItemCount }}</small></h5>
</div>

<table style="max-width:50vh" class="table table-hover" align="center">
  <thead>
    <tr>
      <th style="width: 5%" scope="col"><b>ID</b></th>
      <th style="width: 10%" scope="col">El. paštas</th>  
      <th style="width: 5%" scope="col"></th>  
    </tr>
  </thead>
  <tbody id="data-container">
 
    {% for user in pagination %}
      <tr id='{{ user.ID|e }}'>
        <td>{{ user.ID|e }}</td>
        <td>{{ user.Email|e }}</td>
        <td> <a href="{{ path('admin_deleteuser', {'id': user.ID|e }) }}"> <button type="button" id='button{{ user.ID|e }}' class="btn btn-danger">Ištrinti</button></a></td>
        </tr>
    {% endfor %}

  </tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>


{% endblock %}

